<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd">

    <!-- 扫描指定包（将带有 Component 注解的类自动定义为 Spring Bean） -->
    <context:component-scan base-package="com.jimzhang.demo.util.hongyong.aop.springaop"/>

    <!-- 配置一个代理 -->
    <bean id="greetingProxy" class="org.springframework.aop.framework.ProxyFactoryBean">
        <!-- 目标类 -->
        <property name="target" ref="greetingImpl"/>
        <!-- 切面-->
        <property name="interceptorNames" value="greetingAdvisor"/>
        <!-- 代理目标类（默认为false，代理接口，使用 JDK 动态代理；true 使用 CGLib 动态代理） -->
        <property name="proxyTargetClass" value="true"/>
    </bean>


    <!-- 配置一个切面，切面：封装了增强（Advice）与切点（Pointcut）-->
    <bean id="greetingAdvisor" class="org.springframework.aop.support.RegexpMethodPointcutAdvisor">
        <!-- 增强 -->
        <property name="advice" ref="greetingAroundAdvice"/>
        <!-- 切点（正则表达式） -->
        <property name="pattern" value="com.jimzhang.demo.util.hongyong.aop.springaop.GreetingImpl.good.*"/>
    </bean>

    <bean id="greetingAroundAdvice" class="com.jimzhang.demo.util.hongyong.aop.springaop.GreetingAroundAdvice" />
</beans>