<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd">

    <!-- 扫描指定包（将带有 Component 注解的类自动定义为 Spring Bean） -->
    <context:component-scan base-package="com.jimzhang.demo.util.hongyong.aop.shengmingshi"/>

    <!-- 配置一个代理 -->
    <bean id="greetingProxy" class="org.springframework.aop.framework.ProxyFactoryBean">
        <!-- 需要代理的接口 -->
        <property name="interfaces" value="com.jimzhang.demo.util.hongyong.aop.shengmingshi.Greeting"/>
        <!-- 接口实现类 -->
        <property name="target" ref="greetingImpl"/>
        <!-- 拦截器名称，即增强类名称 Spring Bean 的 id -->
        <property name="interceptorNames">
            <list>
                <value>greetingAroundAdvice</value>
            </list>
        </property>
    </bean>
</beans>